In [1]:
import pandas as pd
import numpy as np

In [12]:
dates = ['5/3/2012 10:00AM', '7:05AM 10/9/2016 ', '12/4/2013 15:01', '1/23/2012 12:00AM', '19/12/2019 11:50AM']
df = pd.DataFrame(zip(dates, list('abcde')), columns=['Dates', 'Letters'])
df

                Dates Letters
0    5/3/2012 10:00AM       a
1   7:05AM 10/9/2016        b
2     12/4/2013 15:01       c
3   1/23/2012 12:00AM       d
4  19/12/2019 11:50AM       e

In [13]:
df.Dates = pd.to_datetime(df.Dates)
df

                Dates Letters
0 2012-05-03 10:00:00       a
1 2016-10-09 07:05:00       b
2 2013-12-04 15:01:00       c
3 2012-01-23 00:00:00       d
4 2019-12-19 11:50:00       e

In [53]:
df.Dates += pd.Timedelta('30 days')
df

                Dates Letters
0 2020-09-03 06:57:36       a
1 2025-02-09 04:02:36       b
2 2022-04-06 11:58:36       c
3 2020-05-24 20:57:36       d
4 2028-04-20 08:47:36       e

In [56]:
df.sort_values('Dates', inplace=True)
df['Diff'] = df.Dates.diff()
df

                Dates Letters               Diff
3 2020-05-24 20:57:36       d                NaT
0 2020-09-03 06:57:36       a  101 days 10:00:00
2 2022-04-06 11:58:36       c  580 days 05:01:00
1 2025-02-09 04:02:36       b 1039 days 16:04:00
4 2028-04-20 08:47:36       e 1166 days 04:45:00