In [6]:
import pandas as pd
import re

In [7]:
df = pd.read_csv('covid19_data.csv')
df

,region,total_cases,total_deaths,total_recovered,active_cases,total_cases/1M_population,deaths/1M_population,total_tests,tests/1M_population,population
0,World,158092431,3291489.0,136403614,18397328,20282.0,4223.0,NaN,NaN,NaN
1,USA,33423238,594981.0,26325307,6502950,100476.0,1789.0,456065435.0,1371013.0,3.326485e+08
2,India,22271530,242029.0,18290133,3739368,16005.0,174.0,300410043.0,215890.0,1.391494e+09
3,Brazil,15087360,419393.0,13640478,1027489,70554.0,1961.0,46616516.0,217997.0,2.138401e+08
4,France,5747214,106101.0,4817288,823825,87883.0,1622.0,78205751.0,1195877.0,6.539612e+07
...,...,...,...,...,...,...,...,...,...,...
218,Vanuatu,4,1.0,3,0,13.0,3.0,23000.0,73437.0,3.131930e+05
219,Marshall Islands,4,NaN,4,0,67.0,NaN,NaN,NaN,5.952900e+04
220,Samoa,3,NaN,2,1,15.0,NaN,NaN,NaN,1.995320e+05
221,Saint Helena,2,NaN,2,0,328.0,NaN,NaN,NaN,6.092000e+03
222,Micronesia,1,NaN,1,0,9.0,NaN,NaN,NaN,1.160440e+05

In [10]:
df.isnull().sum()

region                        0
total_cases                   0
total_deaths                 15
total_recovered               0
active_cases                  0
total_cases/1M_population     2
deaths/1M_population         17
total_tests                  13
tests/1M_population          13
population                    3
dtype: int64