In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/train.tsv', delimiter='\t')
df.head(20)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2
15,16,1,that what is good for the goose,2
16,17,1,that,2
17,18,1,what is good for the goose,2
18,19,1,what,2
19,20,1,is good for the goose,2

In [7]:
print(df.iloc[0]['Phrase'])
print(df.iloc[1]['Phrase'])

A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .
A series of escapades demonstrating the adage that what is good for the goose