In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(train_data.shape)
print(test_data.shape)

(891, 12)
(418, 11)

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
print(train_data.isnull().sum(), end='\n\n')
print(test_data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
train_data.drop(['Cabin', 'Name', 'Ticket'], axis=1, inplace=True)
test_data.drop(['Cabin', 'Name', 'Ticket'], axis=1, inplace=True)

In [7]:
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(), inplace=True)

In [8]:
train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace=True)
test_data['Fare'].fillna(train_data['Fare'].mean(), inplace=True)

In [9]:
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [10]:
df_train = train_data.copy()
df_test = test_data.copy()

In [11]:
columns = ['Sex', 'Embarked']
df_train[columns] = df_train[columns].apply(lambda x: pd.factorize(x)[0])
df_test[columns] = df_test[columns].apply(lambda x: pd.factorize(x)[0])
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.000000,1,0,7.2500,0
1,2,1,1,1,38.000000,1,0,71.2833,1
2,3,1,3,1,26.000000,0,0,7.9250,0
3,4,1,1,1,35.000000,1,0,53.1000,0
4,5,0,3,0,35.000000,0,0,8.0500,0
...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,27.000000,0,0,13.0000,0
887,888,1,1,1,19.000000,0,0,30.0000,0
888,889,0,3,1,29.699118,1,2,23.4500,0
889,890,1,1,0,26.000000,0,0,30.0000,1
890,891,0,3,0,32.000000,0,0,7.7500,2

In [12]:
X = df_train.drop(['Survived'], axis=1)
y = df_train['Survived']

In [13]:
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.1, random_state=42)
X_train = X_train
y_train = y_train
X_dev = X_dev
y_dev = y_dev

### Support Vector Machine

In [14]:
from sklearn.svm import SVC

clf_svc = SVC()
clf_svc.fit(X_train, y_train)

SVC()

## Random Forest

In [15]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier()
clf_rf.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
from xgboost import XGBClassifier
clf_xgb = XGBClassifier()
clf_xgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

## Logistic Regression

In [17]:
from sklearn.linear_model import LogisticRegression

clf_logr = LogisticRegression()
clf_logr.fit(X_train, y_train)

/home/illusion/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Decision Tree

In [18]:
from sklearn.tree import DecisionTreeClassifier

clf_dt = DecisionTreeClassifier()
clf_dt.fit(X_train, y_train)

DecisionTreeClassifier()

## Naive Bayes

In [19]:
from sklearn.naive_bayes import GaussianNB

clf_nb = GaussianNB()
clf_nb.fit(X_train, y_train)

GaussianNB()

## Evaluate

In [20]:
print(clf_svc.score(X_dev, y_dev))
print(clf_rf.score(X_dev, y_dev))
print(clf_xgb.score(X_dev, y_dev))
print(clf_logr.score(X_dev, y_dev))
print(clf_dt.score(X_dev, y_dev))
print(clf_nb.score(X_dev, y_dev))

0.6555555555555556
0.8444444444444444
0.8
0.8222222222222222
0.7111111111111111
0.8111111111111111

## Grid Search

In [21]:
from sklearn.model_selection import GridSearchCV

### Support Vector Machine

In [22]:
# parameters_svc = {'C': (1, 2, 4, 8, 16, 32), 'kernel': ('linear', 'rbf', 'sigmoid'), 'degree': (3,6,12), 'gamma': ('auto', 'scale')}
# clf_svc = GridSearchCV(SVC(), parameters_svc, cv=5)

clf_svc = SVC(kernel='linear', C=2, gamma='auto', random_state=42)
clf_svc.fit(X_train, y_train)

SVC(C=2, gamma='auto', kernel='linear', random_state=42)

### Random Forest

In [23]:
parameters_rf = {'max_features': ('auto', 'sqrt', 'log2'), 'min_samples_leaf': (1, 50, 100, 200)}
clf_rf = GridSearchCV(RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=42), parameters_rf, cv=5)
clf_rf.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=RandomForestClassifier(n_estimators=200, n_jobs=-1,
                                              random_state=42),
             param_grid={'max_features': ('auto', 'sqrt', 'log2'),
                         'min_samples_leaf': (1, 50, 100, 200)})

### XGBoost

In [24]:
parameters_xgb = {}
XGBoost

### Logistic Regression

In [25]:
# parameters_logr = {'penalty': ('l1', 'l2', 'elasticnet', 'none'), 'fit_intercept': (True, False), 'C': (1,2,4,8,16,32), 'solver' : ('newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga')}
# clf_logr = GridSearchCV(LogisticRegression(n_jobs=-1, random_state=42), parameters_logr, cv=5)
# clf_logr.fit(X_train, y_train)

### Decision Tree

In [26]:
# parameters_dt = {'splitter' : ("best", "random"), 'criterion' : ("gini", "entropy"), 'min_samples_leaf': (1, 50, 100, 200)}
# clf_dt = GridSearchCV(DecisionTreeClassifier(random_state=42), parameters_dt, cv=5)
# clf_dt.fit(X_train, y_train)

### Naive Bayes

In [27]:
# parameters_nb = {}
# clf_nb = GridSearchCV(GaussianNB(), parameters_nb, cv=5)
# clf_nb.fit(X_train, y_train)

## Reevaluation

In [28]:
print(clf_svc.score(X_dev, y_dev))
print(clf_rf.score(X_dev, y_dev))
# print(clf_logr.score(X_dev, y_dev))
# print(clf_dt.score(X_dev, y_dev))
# print(clf_nb.score(X_dev, y_dev))

0.8222222222222222
0.8333333333333334

## Rerun on whole test data

In [29]:
df_test

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0            892       3    0  34.50000      0      0    7.8292         0
1            893       3    1  47.00000      1      0    7.0000         1
2            894       2    0  62.00000      0      0    9.6875         0
3            895       3    0  27.00000      0      0    8.6625         1
4            896       3    1  22.00000      1      1   12.2875         1
..           ...     ...  ...       ...    ...    ...       ...       ...
413         1305       3    0  30.27259      0      0    8.0500         1
414         1306       1    1  39.00000      0      0  108.9000         2
415         1307       3    0  38.50000      0      0    7.2500         1
416         1308       3    0  30.27259      0      0    8.0500         1
417         1309       3    0  30.27259      1      1   22.3583         2

[418 rows x 8 columns]

In [ ]:
clf_svc = SVC(kernel='linear', C=2, gamma='auto', random_state=42)
clf_svc.fit(df_train[['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']], df_train['Survived'])

## Save Prediction

In [ ]:
predictions = clf_svc.predict(df_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('svm_submission.csv', index=False)

predictions = clf_rf.predict(df_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('rf_submission.csv', index=False)

# predictions = clf_logr.predict(df_test)
# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('logr_submission.csv', index=False)

# predictions = clf_dt.predict(df_test)
# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('dt_submission.csv', index=False)

# predictions = clf_nb.predict(df_test)
# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('nb_submission.csv', index=False)